.sizeBox{
    border:1px solid black;
}
.sizeBox:hover{
    background-color: rgba(202, 201, 201, 0.734);
}
.colorCircle{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border:0.1rem solid rgba(0, 0, 0, 0.103);
}